<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ClassificAI - Classificação de Emails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <h1>ClassificAI</h1>
   <h2 >Classificação inteligente de emails</h2>
   <p> Tudo começa com uma ideia</p>

    <form action="/classify" method="post" enctype="multipart/form-data">
        <label class="label" for="email_text">Cole o texto do email:</label>
        <textarea name="email_text" id="email_text" placeholder="Digite ou cole o conteúdo do email aqui...">{{ email_text if email_text else '' }}</textarea>

        <label class="label" for="email_file">Ou envie um arquivo (.txt):</label>
        <input type="file" name="email_file" id="email_file">

        <button type="submit">Classificar Email</button>
    </form>

    {% if categoria %}
    <div class="resultado">
        <p>{{ resposta }}</p>
        <p><span class="label">Categoria:</span> {{ categoria }}</p>
        <p><span class="label">Texto do email:</span></p>
        <pre>{{ email_text }}</pre>
    </div>
    {% endif %}
</body>
</html>
